<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django</title>
</head>

<body>
  <header>
      <h1>amman-code-python-401d1</h1>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
  <footer>
    <h2>Django class &copy; 2020</h2>
  </footer>
</body>

</html>